<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Elcodi\Component\Cart\Event | Elcodi API Documentation</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="namespace" data-name="namespace:Elcodi_Component_Cart_Event" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Elcodi API Documentation</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                <div class="namespace-breadcrumbs">
        <ol class="breadcrumb">
            <li><span class="label label-default">Namespace</span></li>
                                                        <li><a href="../../../Elcodi.html">Elcodi</a></li>
                                        <li><a href="../../../Elcodi/Component.html">Component</a></li>
                                        <li><a href="../../../Elcodi/Component/Cart.html">Cart</a></li>
                                        <li><a href="../../../Elcodi/Component/Cart/Event.html">Event</a></li>
    
        </ol>
    </div>
            <div id="page-content">
                
    <div class="page-header">
        <h1>Elcodi\Component\Cart\Event</h1>
    </div>

            <h2>Namespaces</h2>
        <div class="namespace-list">
            <a href="../../../Elcodi/Component/Cart/Event/Abstracts.html">Elcodi\Component\Cart\Event\Abstracts</a>        </div>
    
            <h2>Classes</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartInconsistentEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartInconsistentEvent">Elcodi\Component\Cart\Event\CartInconsistentEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartInconsistentEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartLineOnAddEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartLineOnAddEvent">Elcodi\Component\Cart\Event\CartLineOnAddEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartLineOnAddEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartLineOnEditEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartLineOnEditEvent">Elcodi\Component\Cart\Event\CartLineOnEditEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartLineOnEditEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartLineOnRemoveEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartLineOnRemoveEvent">Elcodi\Component\Cart\Event\CartLineOnRemoveEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartLineOnRemoveEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartOnEmptyEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartOnEmptyEvent">Elcodi\Component\Cart\Event\CartOnEmptyEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartOnEmptyEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartOnLoadEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartOnLoadEvent">Elcodi\Component\Cart\Event\CartOnLoadEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartloadEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/CartPreLoadEvent.html"><abbr title="Elcodi\Component\Cart\Event\CartPreLoadEvent">Elcodi\Component\Cart\Event\CartPreLoadEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class CartPreLoadEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/OrderLineOnCreatedEvent.html"><abbr title="Elcodi\Component\Cart\Event\OrderLineOnCreatedEvent">Elcodi\Component\Cart\Event\OrderLineOnCreatedEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Class OrderLineOnCreatedEvent
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/OrderOnCreatedEvent.html"><abbr title="Elcodi\Component\Cart\Event\OrderOnCreatedEvent">Elcodi\Component\Cart\Event\OrderOnCreatedEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Event dispatched when an Order created
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Elcodi/Component/Cart/Event/OrderPreCreatedEvent.html"><abbr title="Elcodi\Component\Cart\Event\OrderPreCreatedEvent">Elcodi\Component\Cart\Event\OrderPreCreatedEvent</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Event dispatched before an order is created
                </div>
            </div>
            </div>
    
    
    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
