<div class="msg-ok">
    <a href="{{ url('admin_configuration_list') }}" class="button button-ok fl-r">{{ 'wizard.go_general_settings'|trans }}</a>
    <h2 class="c-ok mb-n"><strong>{% trans %}wizard.ready_launch{% endtrans %}</strong></h2>
    <h3>{% trans %}wizard.go_enable_store{% endtrans %}</h3>
</div>
