<div class="msg-ok">
    <a href="{{ url('admin_configuration_list') }}" class="button button-ok fl-r">{{ 'Go to general settings'|trans }}</a>
    <h2 class="c-ok">{% trans %}<strong>Ready to launch!</strong> Go to setup and enable your store.{% endtrans %}</h2>
</div>
