<div class="msg-ok">
    <a href="{{ url('admin_configuration_list') }}" class="button button-ok fl-r">{{ 'Go to next step'|trans }}</a>
    <h2 class="c-ok">{% trans %}<strong>Yehaaaaa!</strong> One step less to go!{% endtrans %}</h2>
</div>
