<div class="msg-ok">
    <a href="{{ url('admin_configuration_list') }}" class="button button-ok fl-r">{{ 'wizard.go_next_step'|trans }}</a>
    <h2 class="c-ok">{% trans %}wizard.step_finished{% endtrans %}</h2>
</div>
