{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block breadcrumb %}<h1 class="ta-c">{{ 'wizard.welcome_title'|trans }}</h1>{% endblock %}

{% block body_top_hook '' %}

{% block content %}

{% include 'ElcodiStoreSetupWizardBundle:Wizard:wizard.html.twig' %}

{% endblock content %}
