<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Elcodi\Component\Comment\Entity\Comment | Elcodi API Documentation</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Elcodi_Component_Comment_Entity_Comment" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">Elcodi API Documentation</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../Elcodi.html">Elcodi</a></li>
                                        <li><a href="../../../../Elcodi/Component.html">Component</a></li>
                                        <li><a href="../../../../Elcodi/Component/Comment.html">Comment</a></li>
                                        <li><a href="../../../../Elcodi/Component/Comment/Entity.html">Entity</a></li>
    
                <li>Comment</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>Comment</h1>
    </div>

    <p>    class
    <strong>Comment</strong>        implements
        <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>
</p>

            <div class="description">
            <p>Class Comment</p>                    </div>
    
            <h2>Traits</h2>

        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Elcodi/Component/Core/Entity/Traits/IdentifiableTrait.html"><abbr title="Elcodi\Component\Core\Entity\Traits\IdentifiableTrait">Elcodi\Component\Core\Entity\Traits\IdentifiableTrait</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Trait IdentifiableTrait
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">Elcodi\Component\Core\Entity\Traits\DateTimeTrait</abbr></a>
                                    </div>
                <div class="col-md-6">
                    trait for DateTime common variables and methods
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">Elcodi\Component\Core\Entity\Traits\EnabledTrait</abbr></a>
                                    </div>
                <div class="col-md-6">
                    Trait adding enabled/disabled fields and methods
                </div>
            </div>
            </div>
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
    integer
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getId">getId</a>()
                                            <p>Get Id</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/IdentifiableTrait.html#method_getId"><abbr title="Elcodi\Component\Core\Entity\Traits\IdentifiableTrait">IdentifiableTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setId">setId</a>(
    integer $id)
                                            <p>Sets Id</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/IdentifiableTrait.html#method_setId"><abbr title="Elcodi\Component\Core\Entity\Traits\IdentifiableTrait">IdentifiableTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setCreatedAt">setCreatedAt</a>(
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr> $createdAt)
                                            <p>Set locally created at value</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_setCreatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getCreatedAt">getCreatedAt</a>()
                                            <p>Return created_at value</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_getCreatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setUpdatedAt">setUpdatedAt</a>(
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr> $updatedAt)
                                            <p>Set locally updated at value</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_setUpdatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getUpdatedAt">getUpdatedAt</a>()
                                            <p>Return updated_at value</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_getUpdatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadUpdateAt">loadUpdateAt</a>()
                                            <p>Method triggered by LifeCycleEvent.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_loadUpdateAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setEnabled">setEnabled</a>(
    boolean $enabled)
                                            <p>Set if is enabled</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_setEnabled"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isEnabled">isEnabled</a>()
                                            <p>Get is enabled</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_isEnabled"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_enable">enable</a>()
                                            <p>Enable</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_enable"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_disable">disable</a>()
                                            <p>Disable</p>                </div>
                <div class="col-md-2"><small>from&nbsp;
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_disable"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setContent">setContent</a>(
    string $content)
                                            <p>Sets Content</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getContent">getContent</a>()
                                            <p>Get Content</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setParent">setParent</a>(
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null $parent = null)
                                            <p>Sets Parent</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getParent">getParent</a>()
                                            <p>Get Parent</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setSource">setSource</a>(
    string $source)
                                            <p>Sets Source</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getSource">getSource</a>()
                                            <p>Get Source</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setChildren">setChildren</a>(
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\Doctrine\Common\Collections\Collection">Collection</abbr> $children)
                                            <p>Set Children</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Doctrine\Common\Collections\Collection">Collection</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getChildren">getChildren</a>()
                                            <p>Get Children</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getContext">getContext</a>()
                                            <p>Get Context</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setContext">setContext</a>(
    string $context)
                                            <p>Sets Context</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAuthorEmail">getAuthorEmail</a>()
                                            <p>Get AuthorEmail</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setAuthorEmail">setAuthorEmail</a>(
    string $authorEmail)
                                            <p>Sets AuthorEmail</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAuthorName">getAuthorName</a>()
                                            <p>Get AuthorName</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setAuthorName">setAuthorName</a>(
    string $authorName)
                                            <p>Sets AuthorName</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAuthorToken">getAuthorToken</a>()
                                            <p>Get AuthorToken</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setAuthorToken">setAuthorToken</a>(
    string $authorToken)
                                            <p>Sets AuthorToken</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getId">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/IdentifiableTrait.html#method_getId"><abbr title="Elcodi\Component\Core\Entity\Traits\IdentifiableTrait">IdentifiableTrait</abbr></a> at line 37</div>
        <code>                    
    integer
    <strong>getId</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Id</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    integer</td>
            <td>Id</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setId">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/IdentifiableTrait.html#method_setId"><abbr title="Elcodi\Component\Core\Entity\Traits\IdentifiableTrait">IdentifiableTrait</abbr></a> at line 49</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>setId</strong>(
    integer $id)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets Id</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    integer</td>
                <td>$id</td>
                <td>Id</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setCreatedAt">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_setCreatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a> at line 46</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>setCreatedAt</strong>(
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr> $createdAt)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Set locally created at value</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr></td>
                <td>$createdAt</td>
                <td>Created at value</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCreatedAt">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_getCreatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a> at line 58</div>
        <code>                    
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a>
    <strong>getCreatedAt</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Return created_at value</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setUpdatedAt">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_setUpdatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a> at line 70</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>setUpdatedAt</strong>(
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr> $updatedAt)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Set locally updated at value</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\DateTime">DateTime</abbr></td>
                <td>$updatedAt</td>
                <td>Updated at value</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getUpdatedAt">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_getUpdatedAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a> at line 82</div>
        <code>                    
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a>
    <strong>getUpdatedAt</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Return updated_at value</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <a target="_blank" href="http://php.net/DateTime"><abbr title="DateTime">DateTime</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadUpdateAt">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/DateTimeTrait.html#method_loadUpdateAt"><abbr title="Elcodi\Component\Core\Entity\Traits\DateTimeTrait">DateTimeTrait</abbr></a> at line 91</div>
        <code>                    
    
    <strong>loadUpdateAt</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Method triggered by LifeCycleEvent.</p>                    <p>Sets or updates $this->updatedAt</p>            </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setEnabled">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_setEnabled"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a> at line 39</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>setEnabled</strong>(
    boolean $enabled)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Set if is enabled</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    boolean</td>
                <td>$enabled</td>
                <td>enabled value</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isEnabled">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_isEnabled"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a> at line 51</div>
        <code>                    
    boolean
    <strong>isEnabled</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get is enabled</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    boolean</td>
            <td>is enabled</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_enable">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_enable"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a> at line 61</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>enable</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Enable</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_disable">
        <div class="location">in 
    <a href="../../../../Elcodi/Component/Core/Entity/Traits/EnabledTrait.html#method_disable"><abbr title="Elcodi\Component\Core\Entity\Traits\EnabledTrait">EnabledTrait</abbr></a> at line 71</div>
        <code>                    
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr>
    <strong>disable</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Disable</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Core\Entity\Traits\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setContent">
        <div class="location">at line 97</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setContent</strong>(
    string $content)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets Content</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$content</td>
                <td>Content</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getContent">
        <div class="location">at line 109</div>
        <code>                    
    string
    <strong>getContent</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Content</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>Content</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setParent">
        <div class="location">at line 121</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setParent</strong>(
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null $parent = null)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets Parent</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null</td>
                <td>$parent</td>
                <td>Parent</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getParent">
        <div class="location">at line 133</div>
        <code>                    
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null
    <strong>getParent</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Parent</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <a href="../../../../Elcodi/Component/Comment/Entity/Interfaces/CommentInterface.html"><abbr title="Elcodi\Component\Comment\Entity\Interfaces\CommentInterface">CommentInterface</abbr></a>|null</td>
            <td>Parent</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setSource">
        <div class="location">at line 145</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setSource</strong>(
    string $source)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets Source</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$source</td>
                <td>Source</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getSource">
        <div class="location">at line 157</div>
        <code>                    
    string
    <strong>getSource</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Source</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>Source</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setChildren">
        <div class="location">at line 169</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setChildren</strong>(
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\Doctrine\Common\Collections\Collection">Collection</abbr> $children)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Set Children</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\Doctrine\Common\Collections\Collection">Collection</abbr></td>
                <td>$children</td>
                <td>Children</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getChildren">
        <div class="location">at line 181</div>
        <code>                    
    <abbr title="Doctrine\Common\Collections\Collection">Collection</abbr>
    <strong>getChildren</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Children</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Doctrine\Common\Collections\Collection">Collection</abbr></td>
            <td>Children</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getContext">
        <div class="location">at line 191</div>
        <code>                    
    string
    <strong>getContext</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get Context</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>Context</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setContext">
        <div class="location">at line 203</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setContext</strong>(
    string $context)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets Context</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$context</td>
                <td>Context</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAuthorEmail">
        <div class="location">at line 215</div>
        <code>                    
    string
    <strong>getAuthorEmail</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get AuthorEmail</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>AuthorEmail</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setAuthorEmail">
        <div class="location">at line 227</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setAuthorEmail</strong>(
    string $authorEmail)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets AuthorEmail</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$authorEmail</td>
                <td>AuthorEmail</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAuthorName">
        <div class="location">at line 239</div>
        <code>                    
    string
    <strong>getAuthorName</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get AuthorName</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>AuthorName</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setAuthorName">
        <div class="location">at line 251</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setAuthorName</strong>(
    string $authorName)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets AuthorName</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$authorName</td>
                <td>AuthorName</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAuthorToken">
        <div class="location">at line 263</div>
        <code>                    
    string
    <strong>getAuthorToken</strong>()</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Get AuthorToken</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    string</td>
            <td>AuthorToken</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setAuthorToken">
        <div class="location">at line 275</div>
        <code>                    
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr>
    <strong>setAuthorToken</strong>(
    string $authorToken)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Sets AuthorToken</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>
    string</td>
                <td>$authorToken</td>
                <td>AuthorToken</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>
    <abbr title="Elcodi\Component\Comment\Entity\Interfaces\$this">$this</abbr></td>
            <td>Self object</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
