services:

    #
    # Factories
    #

    #
    # Factory for configuration entity
    #
    elcodi.factory.configuration:
        class: Elcodi\Component\Configuration\Factory\ConfigurationFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.configuration.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
