language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm-nightly

matrix:
    allow_failures:
        - php: hhvm-nightly

before_install:
  - composer require --no-update symfony/twig-bundle ~2.4

install:
    - composer install --prefer-source --no-interaction

script:
    - phpunit

notifications:
    email: false