Elcodi\CouponBundle\Entity\Coupon:
    type: entity
    repositoryClass: Elcodi\CouponBundle\Repository\CouponRepository
    table: coupon

    fields:
        code:
            column: code
            type: string
            length: 255
            nullable: false
            unique: true
        name:
            column: name
            type: string
            length: 255
            nullable: false
        type:
            column: type
            type: integer
            nullable: false
        value:
            column: value
            type: float
        count:
            column: count
            type: integer
            nullable: false
        used:
            column: used
            type: integer
            nullable: false
        priority:
            column: priority
            type: integer
            nullable: false
        minimumPurchaseAmount:
            column: min_purchase_amount
            type: float
            nullable: false
        validFrom:
            column: valid_from
            type: datetime
            nullable: false
        validTo:
            column: valid_to
            type: datetime
            nullable: true
        createdAt:
            column: created_at
            type: datetime
            nullable: true
        updatedAt:
            column: updated_at
            type: datetime
            nullable: true
        enabled:
            column: enabled
            type: boolean

    lifecycleCallbacks:
        preUpdate: [loadUpdateAt]
        prePersist: [loadUpdateAt]
