services:

    #
    # Factories
    #

    #
    # Factory for entity newsletter_subscription
    #
    elcodi.factory.newsletter_subscription:
        class: Elcodi\Component\Newsletter\Factory\NewsletterSubscriptionFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.newsletter_subscription.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
