services:

    #
    # services
    #
    elcodi.manager.menu:
        class: Elcodi\Component\Menu\Services\MenuManager
        arguments:
            - '@elcodi.repository.menu'
            - '@elcodi.object_manager.menu'
            - %elcodi.menu_cache_key%
        calls:
            - [setCache, ['@doctrine_cache.providers.elcodi_menus']]
            - [setEncoder, ['@elcodi.php_encoder']]

    elcodi.menu_builder:
        class: Elcodi\Component\Menu\Services\MenuBuilder
        tags:
            - { name: menu.changer }

    elcodi.menu_filterer:
        class: Elcodi\Component\Menu\Services\MenuFilterer
        tags:
            - { name: menu.changer }

    elcodi.menu_modifier:
        class: Elcodi\Component\Menu\Services\MenuModifier
        tags:
            - { name: menu.changer }
