services:

    #
    # Services
    #
    elcodi.manager.cart_coupon:
        class: Elcodi\Component\CartCoupon\Services\CartCouponManager
        arguments:
            - @elcodi.event_dispatcher.cart_coupon
            - @elcodi.manager.coupon
            - @elcodi.repository.coupon
            - @elcodi.repository.cart_coupon

    elcodi.manager.order_coupon:
        class: Elcodi\Component\CartCoupon\Services\OrderCouponManager
        arguments:
            - @elcodi.repository.order_coupon

    elcodi.manager.cart_coupon_rule:
        class: Elcodi\Component\CartCoupon\Services\CartCouponRuleManager
        arguments:
            - @elcodi.manager.rule
