{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.plugin.plural'|trans, url: url('admin_plugin_list') },
            { name: 'pinterest_plugin.title'|trans, active: true },
        ]}
    %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form" method="post">
        <fieldset>
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'pinterest_plugin.section.settings.title'|trans }}</h2>
                <a target="_blank" href="https://www.pinterest.com/">{{ 'pinterest_plugin.action.visit_pinterest'|trans }}</a>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <div class="switch">
								<input name="asynchronous" id="asynchronous" type="checkbox"
                                    {% if plugin.configuration.asynchronous %}
                                        checked="checked"
                                    {% endif %}
                                >
								<label for="asynchronous"></label>
							</div>
                            {{ 'pinterest_plugin.field.asynchronous_javascript'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">
                    {{ 'ui.forms.save'|trans }}
                </button>
            </div>
        </fieldset>
    </form>

{% endblock content %}
