{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Configuration Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Configuration": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}
    <form class="form" method="post">
        <fieldset>
            <div class="col-1-3">
                <h2 class="fw-n">Pinterest Setup</h2>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <div class="switch">
								<input name="asynchronous" id="asynchronous" type="checkbox"{% if plugin.configuration.asynchronous %} checked="checked"{% endif %}>
								<label for="asynchronous"></label>
							</div>
                            {% trans %}Js asynchronous{% endtrans %}
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <div class="grid">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock content %}
