<a
    href="https://twitter.com/share"
    class="twitter-share-button"
    data-url="{{ url('store_product_view', { id: product.id, slug: product.slug }) }}"
    data-text="{{ product.name }}"
    {% if twitter_account %}
    data-via="{{ twitter_account }}"
    {% endif %}
>Tweet</a>
