<a
    href="https://twitter.com/share"
    class="twitter-share-button"
    data-url="{{ url }}"
    data-text="{{ text|escape('html_attr') }}"
    {% if twitter_account %}
    data-via="{{ twitter_account }}"
    {% endif %}
>Tweet</a>
