services:

    #
    # Factories
    #

    #
    # Factory for entity carrier
    #
    elcodi.factory.carrier:
        class: Elcodi\Component\Shipping\Factory\CarrierFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.carrier.class%"]]

    #
    # Factory for entity shipping_weight_range
    #
    elcodi.factory.shipping_range:
        class: Elcodi\Component\Shipping\Factory\ShippingRangeFactory
        arguments:
            - @elcodi.wrapper.default_currency
        calls:
            - [setEntityNamespace, ["%elcodi.entity.shipping_range.class%"]]
