{% set image =
    product.images|length > 0
        ? product.images.first|resize({ width: 372, height: 291, type: 5 })
        : 'http://placehold.it/372x291'
%}

<a href="https://www.pinterest.com/pin/create/button/?url=
        {{- url('store_product_view', { id: product.id, slug: product.slug })|e('url') -}}
        &media={{ image|e('url') -}}
        &description={{ product.description|e('url') -}}"
        data-pin-do="buttonPin"
        data-pin-config="above">
    <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
</a>
